#######################################################
# First column:                                       #
#     + : this repo can be pushed                     #
#     - : this repo cannot be pushed                  #
#     x : this is the current repo.                   #
# Other symbols:                                      #
#      *:  dont't care as it's determined by others   #
# latest:  latest version in this branch              #
# Notes:                                              #
# 1. build column is for future feature               #
#######################################################
# directory         repo_name    branch  TAG         build
- src/core/topology  topology    master top_4.0.0    src
- src/core/gpe       gpe         master gpe_4.0.0    src
- src/core/gse       gse         master gse_2.0.0    src
- src/third_party    third_party master latest       src
- src/utility        utility     master util_1.0.0   src
- src/realtime       realtime    master real_2.0.0   src
- src/msg            msg_layer   master dist_1.0.0   src
- src/er             er          master er_1.0.0     src
x src/prod           *      	    *      *          *
