<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{main.userRole}}<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Profile</a></li>
                        <li><a ui-sref="app.setting">Setting</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    CIP
                </div>

            </li>

            <!-- <li ng-class="{active: $state.includes('dashboards')}"> -->
            <li ng-class="{active : true}">
                <a href="index.html"><i class="fa fa-list"></i> <span class="nav-label">{{ 'Menu.CrowdManagement' | translate }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in : true}">
                    <li ui-sref-active="active">
                        <a ui-sref="crowd.crowd_view"><i class="fa fa-user"></i>{{'Menu.ViewCrowdList' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="crowd.crowd_create"><i class="fa fa-user-plus"></i>{{'Menu.CreateCrowd' | translate}}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="crowd.group_view"><i class="fa fa-users"></i>{{'Menu.ViewGroupList' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="crowd.group_create"><i class="fa fa-google-plus"></i>{{'Menu.CreateGroup' | translate}}</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>