
<!DOCTYPE html>
<html lang="en" ng-app="visualization.ui">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GSQL UI</title>
  <!-- Bootstrap core CSS -->
  <link href="bt/css/bootstrap.min.css" rel="stylesheet">
  <link href="bt/css/starter-template.css" rel="stylesheet">
  <link rel="stylesheet" href="bt/css/bootstrap-multiselect.css" type="text/css">
  <link rel="stylesheet" href="bt/css/bootstrap-colorpicker.css" type="text/css">
</head>


<body style="margin-left:10px; margin-right:10px" ng-controller="UIpages">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img alt="GraphSQL" src="img/logo_0.png"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--li ng-repeat="tab in tabs"><a href="#" id="{{tab.name}}" name="{{tab.name + $index}}" ng-click="initializeUI(tab, $index)">{{tab.tabname}}</a></li-->
      </ul>
    </div>
  </nav>

  <div class="starter-template">
    <div class="navbar-form" id="content-page">
      <!--div class="form-group" >
        <span ng-repeat-start="e in object.elements"></span> 
        <label>{{e.label}} :</label>
        <input class="form-control" ng-repeat-end type ="text" name="{{e.name}}" size="{{e.length}}" ng-model="input[e.name]" placeholder="Please input {{e.name}}">
      </div>
      <button type="submit" ng-click="on_submit()" class="btn btn-default">Submit Query</button-->
    </div>
  </div>

  <!-- Visulization Component -->  
  <!-- Control Panel -->
  <div class="container-fluid">

    <!-- first row for node action-->
    <div class="row">
        <div class="col-md-4"> 
        <div class="input-group">
          <span class="input-group-addon">Node Labels: </span>
          <select id="node_label_filtering" multiple="multiple">
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <!--key press event will be assigned in document.ready()-->
        <input id="selectionCondition" type="text" class="form-control" placeholder="Enter selection condition">
        <!--/form-->
      </div>
      <div class="col-md-2"> 
        <select class="form-control" id="selectionType">
          <option value="nodes">Nodes</option>
          <option value="edges">Edges</option>
        </select>
      </div>
    </div>

    <!-- second row for edge action -->
    <div class="row">
      <div class="col-md-4"> 
        <div class="input-group">
          <span class="input-group-addon">Edge Labels : </span>
          <select id="edge_label_filtering" multiple="multiple">
        
           
          </select>
        </div>
      </div>
      <div class="col-md-6"> 
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button id="b_highlightingNodes" type="button" class="btn btn-default" onclick="highlightingNodes()">Highlight</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="hidingNodes()">Hide</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="setTheRootNode()">Set Root Node</button>
          </div>
          <div class="btn-group" role="group">         
           <a href="#" id="colorpicker" data-color="rgb(255, 0, 0)">
             <button type="button" class="btn btn-default">
              Change Color
              </button>
           </a>
          </div>
        </div>
      </div>
      <div class="col-md-2"> 
        <select class="form-control" id="layoutType" onchange="layoutChanged()">
          <option value="force">Force layout</option>
          <option value="tree">Tree layout</option>
          <option value="hierarchical">Hierarchical layout</option>
          <option value="circle">Circle layout</option>
        </select>
      </div>
    </div>  

  </div>

  <br />

  <!-- Tabs Area-->
  <div role="tabpanel" id="tapView">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#graph" aria-controls="graph" role="tab" data-toggle="tab">Graph</a></li>
      <li role="presentation"><a href="#json" aria-controls="json" role="tab" data-toggle="tab">JSON</a></li>
      <li role="presentation"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
      <!--li role="presentation"><a href="#more" aria-controls="more" role="tab" data-toggle="tab">More ...</a></li-->
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Tab Graph -->
      <div role="tabpanel" class="tab-pane active" id="graph">
        <br />
        <div align='left' id="prototype1" style="float:left;">
        </div>
        <!--iframe id="desc_iframe" src="desc.html"></iframe-->
        <pre id="desc_iframe" style="float:left;overflow:auto; margin-left:5px"></pre>
      </div>

      <!-- Tab Json -->
      <div role="tabpanel" class="tab-pane" id="json">
        <style>
        .key {
          color:red;
        }
        .string {
          color:green;
        }
        .number {
          color:blue;
        }
        </style>
        <br />
        <pre id="messageBox" style="float:left;overflow:auto;line-height: 90%;">
        </pre>
      </div>

      <!-- Tab Summary -->
      <div role="tabpanel" class="tab-pane" id="summary"> 
        <br />
        <div align='left' id="summaryInformationBox" stlye="float:left">
          <pre id="summaryOfAllNodes">Test</pre>
          <pre id="summaryOfSelectedNodes">Test</pre>
        </div>
      </div>

      <!-- Tab More -->
      <div role="tabpanel" class="tab-pane" id="more">
        <br />
        Coming Soon ...
      </div>
    </div>
    <!-- End Tab panes -->

  </div>
  <!-- End Visulization Component --> 

  <!-- script src="graphAPI/data/data.js"></script -->
  <!-- script src="data/graph.js"></script -->

  <!-- Include 3rd Party Library -->
  <script src="graphAPI/lib/d3.js"></script>
  <script src="graphAPI/lib/jquery-2.1.3.js"></script>
  <script type="text/javascript" src="graphAPI/lib/angular.js"></script>
  <script type="text/javascript" src="graphAPI/lib/ui-bootstrap-tpls-0.13.0.js"></script>

  <script src="bt/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bt/js/bootstrap-multiselect.js"></script>
  <script type="text/javascript" src="bt/js/bootstrap-colorpicker.js"></script>

  <!-- Include GraphSQL Library -->
  <script src="graphAPI/js/utlis.js"></script>
  <script src="graphAPI/js/gsqlv.v2.0.js"></script>
  <script src="graphAPI/js/main.js"></script>

  <!-- Include UI componenets -->
  <script type="text/javascript" src="graphAPI/js/ui_main.js"></script>
  <script type="text/javascript" src="graphAPI/data/message.js"></script>
</body>
</html>


