<!DOCTYPE html>
<!--  Chinese Version UI -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GSQL DEMO</title>

  <link rel="stylesheet" href="scripts/css/main.css" rel="stylesheet">
  <script data-main="scripts/main" src="scripts/lib/require.js"></script>
</head>


<body style="margin-left:15px; margin-right:15px;width:96%;" >
  <nav id='bodyRow_1' class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:;"><!--img alt="GraphSQL" src="img/logo_0.png"-->GraphSQL</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--li ng-repeat="tab in tabs"><a href="#" id="{{tab.name}}" name="{{tab.name + $index}}" ng-click="initializeUI(tab, $index)">{{tab.tabname}}</a></li-->
      </ul>
    </div>
  </nav>



  <div id='bodyRow_2' class="row">
    <div id="content-page" class="navbar-form" >
      <!--div class="form-group" >
        <span ng-repeat-start="e in object.elements"></span> 
        <label>{{e.label}} :</label>
        <input class="form-control" ng-repeat-end type ="text" name="{{e.name}}" size="{{e.length}}" ng-model="input[e.name]" placeholder="Please input {{e.name}}">
      </div>
      <button type="submit" ng-click="on_submit()" class="btn btn-default">Submit Query</button-->
    </div>
  </div>
  <!-- Row 1 -->

  <!--div id='bodyRow_hr' class="row" style="margin-left:0px;margin-right:0px;width:100%;height:1px; background-color: #9ecae1;margin-top:10px;margin-bottom:19px">
  </div-->

  <!-- Visulization Component -->  
  <!-- Control Panel -->
  <!--div class="container-fluid"-->

  <div id='bodyRow_3' class="row">
    <!-- Begin Left Side -->
    <div id="left_side" class="col-md-9" style="">
      <div class="row" style="margin-bottom:19px">
        <div class="col-md-4"> 
          <div class="input-group">
            <!--span class="input-group-addon">Node Labels: </span-->
            <span id="nodelabel_label_id" class="input-group-addon"></span>
            <select id="node_label_filtering" multiple="multiple">
            </select>
          </div>
        </div>

        <div class="col-md-4"> 
          <div class="input-group">
            <!--span class="input-group-addon">Edge Labels: </span-->
            <span id="linklabel_label_id" class="input-group-addon"></span>
            <select id="edge_label_filtering" multiple="multiple">
            </select>
          </div>
        </div>

        <div class="col-md-2"> 
          <a id="selectionDropdown" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <button class="btn btn-default" id="">
              <span id="options_label_id"></span>
              <span class="caret"></span>
            </button>
          </a>
          <ul class="dropdown-menu" aria-labelledby="selectionDropdown">
            <li>
              <a href="javascript:;" id="b_highlightingNodes" onclick="highlightingNodes()"><span id="highlighting_label_id"></span></a>
            </li>
            <li >
              <a href="javascript:;" onclick="hidingNodes()"><span id="delete_label_id"></span></a>
            </li>
            <li>    
               <a href="javascript:;" id="colorpicker" data-color="rgb(255, 0, 0)">
                  <span id="coloring_label_id"></span>
               </a>
            </li>
          </ul>
        </div>

        <!--
        <div class="col-md-4"> 
          <button type="button" class="btn btn-default" onclick="findCommonTransaction()">寻找关联交易</button>
          <button type="button" class="btn btn-default" onclick="findCommonEntities()">寻找关联信息</button>
        </div>
        -->
      </div>
      <!--div class="row" style="margin-bottom:19px">
        <div class="col-md-3"> 
          <button type="button" class="btn btn-default btn-sm" onclick="findCommonTransaction()">寻找关联交易</button>
        </div>
        <div class="col-md-3"> 
          <button type="button" class="btn btn-default btn-sm" onclick="findCommonEntities()">寻找关联信息</button>
        </div>
      </div-->
      <!-- Control Panel Row 1 -->
      <!--br /-->

      <div class="row">
        <!-- Tabs Area-->
        <div id="viewport" class="col-md-12"> 
          <div role="tabpanel" id="tapView" >

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active" ><a href="#graph" aria-controls="graph" role="tab" data-toggle="tab" ><span id="visualization_label_id"></span></a></li>
              <li role="presentation"><a href="#json" aria-controls="json" role="tab" data-toggle="tab" ><span id="jsonmessage_label_id"></span></a></li>
              <!--li role="presentation"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab"><span id="graphinformation_label_id"></span></a></li -->
              <!--li role="presentation"><a href="#more" aria-controls="more" role="tab" data-toggle="tab">More ...</a></li-->
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <!-- Tab Graph -->
              <div role="tabpanel" class="tab-pane fade in active" id="graph">
                <br />
                <div align='left' id="prototype1" style="float:left;width:100%;">
                </div>
                <!--iframe id="desc_iframe" src="desc.html"></iframe-->
                <!--pre id="desc_iframe" style="float:left;overflow:auto; margin-left:5px"></pre-->

              </div>

              <!-- Tab Json -->
              <div role="tabpanel" class="tab-pane fade" id="json">
                <style>
                .key {
                  color:red;
                }
                .string {
                  color:green;
                }
                .number {
                  color:blue;
                }
                </style>
                <br />
                <pre id="messageBox" style="float:left;overflow:auto;line-height: 90%;">
                </pre>
              </div>

              <!-- Tab Summary -->
              <div role="tabpanel" class="tab-pane fade" id="summary"> 
                <br />
                <div align='left' id="summaryInformationBox" stlye="float:left">
                  <pre id="summaryOfAllNodes">Test</pre>
                  <pre id="summaryOfSelectedNodes">Test</pre>
                </div>
              </div>

              <!-- Tab More -->
              <div role="tabpanel" class="tab-pane fade" id="more">
                <br />
                Coming Soon ...
              </div>
            </div>
            <!-- End Tab panes -->

          </div>
        </div>
      </div>
      <!-- Viewport Row 2 -->
    </div>
    <!-- End Left Side -->

    <!-- Begin Right Side -->
    <div id='right_side' class="col-md-3" style=""> 
      <div id="layoutport" class="row" style="background-color:#ecebe7;">
        <div class="row">
          <div class="col-md-4 col-md-offset-4" align="center">
            <a id="layoutDropdown" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <button class="btn btn-default">
                <span id="layout_label_id"></span>
                <span class="caret"></span>
              </button>
            </a>
            <ul class="dropdown-menu" aria-labelledby="layoutDropdown">
              <li><a href="javascript:;" onclick="layoutChanged('force')"><span id="forcelayout_label_id"></span></a></li>
              <li><a href="javascript:;" onclick="layoutChanged('tree')"><span id="treelayout_label_id"></span></a></li>
              <li><a href="javascript:;" onclick="layoutChanged('hierarchical')"><span id="hierarchicallayout_label_id"></span></a></li>
              <li><a href="javascript:;" onclick="layoutChanged('circle')"><span id="circlelayout_label_id"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- Layout Port -->
        <div class="row" >
          <div class="col-md-10 col-md-offset-1" style=""> <!-- border-style:solid;border-color: #ecebe7; -->
            <div id="layoutProperty" align="center">
            </div>
          </div>
        </div>
      </div>

      <div id="queryInputInfoBox" class="row" style="height:70px;overflow:auto;border: 2px solid #8AC007;">
      </div>
      <br/>

      <div id="tableBox" class="row" style="overflow:auto;">  
        
      </div>
    </div>
    <!-- End Right Side -->
  </div>
  
  <!--div id='bodyRow_4' class="row">
    <div class="col-md-8" style="margin-top:10px">
    <button type="button" class="btn btn-default btn-xs" onclick="outputCSVFile()">输出csv文件</button>
    <button type="button" class="btn btn-default btn-xs" onclick="outputExcelFile()">输出Excel文件</button>
    </div>
    <div class="col-md-4" style="margin-top:10px">
      <p class="text-right"><kbd>shift +</kbd><img src="img/mouse_left_click.png" style="height:20px;"/> 选择多个节点</p>
    </div>
    <ul id="outputTabs" class="nav nav-tabs" role="tablist">
    </ul>

    <div id="outputContent" class="tab-content">
    </div>
  </div-->
  
</body>
</html>


