#!/bin/bash
#######################################################
#                                                     #
# !!! Don't run me directly even this is shell script #
#  We will use the safe runner to run this            #
#                                                     #
#######################################################

#-------- List of CPPDEFINES ------------------------------------------------------------
# usage: --CPPDEFINES=D1,D2=x,D3=9
#
# - G_DENSE_HT_OCCUPANCY_PCT=80 (DenseHashMap factor: 1 to 99. Default 50, opt. is 80)
# - GraphNodeId_UseLong_  (if # of vertices is more than 4 billion. Default is uint32_t)
# - Degree_UseShort_      (degree use short to save space. Default is int)
#----------------------------------------------------------------------------------------

scons poc_gpe_release        cb=1 --CPPDEFINES=GOOGLE_DENSEHASHMAP # --CPPDEFINES=GraphNodeId_UseLong_,Degree_UseShort_,MULTIEDGETYPES
scons gse2_release           cb=1 --CPPDEFINES=GOOGLE_DENSEHASHMAP # --CPPDEFINES=GraphNodeId_UseLong_,Degree_UseShort_,MULTIEDGETYPES
scons poc_gseloader_release  cb=1 --CPPDEFINES=GOOGLE_DENSEHASHMAP # --CPPDEFINES=GraphNodeId_UseLong_,Degree_UseShort_,MULTIEDGETYPES

mkdir -p ${GSQL_PKG_HOME}/bin
cp build/release/customer/core_ext/gpe/poc_gpe_server  ${GSQL_PKG_HOME}/bin
cp build/release/core/gse/ids_worker ${GSQL_PKG_HOME}/bin
cp build/release/customer/core_ext/gse/gse_loader ${GSQL_PKG_HOME}/bin


mkdir -p ${GSQL_PKG_HOME}/third-party-pkgs
${ER_HOME}/buildenv/rest_build.sh ${GSQL_PKG_HOME}/third-party-pkgs

# to streamline a new deployment, we'll also copy configs and scripts to mgnt_cli
mkdir -p ${GSQL_PKG_HOME}/config
cp -r ${GSQL_PROJ_HOME}/src/customer/config/* ${GSQL_PKG_HOME}/config
cp -r ${GSQL_PROJ_HOME}/src/customer/config/* ${GSQL_PKG_HOME}/mgnt_cli/configs

mkdir -p ${GSQL_PKG_HOME}/scripts
cp -r ${GSQL_PROJ_HOME}/src/customer/scripts/* ${GSQL_PKG_HOME}/scripts
cp -r ${GSQL_PROJ_HOME}/src/customer/scripts/* ${GSQL_PKG_HOME}/mgnt_cli/scripts

mkdir -p ${GSQL_PKG_HOME}/sanity_check
cp -r ${GSQL_PROJ_HOME}/src/customer/sanity_check/* ${GSQL_PKG_HOME}/sanity_check
mkdir -p ${GSQL_PKG_HOME}/mgnt_cli/sanity_check
cp -r ${GSQL_PROJ_HOME}/src/customer/sanity_check/* ${GSQL_PKG_HOME}/mgnt_cli/sanity_check
