#!/bin/bash
#######################################################
#                                                     #
# !!! Don't run me directly even this is shell script #
#  We will use the safe runner to run this            #
#                                                     #
#######################################################

scons poc_gpe_release        cb=1 # --CPPDEFINES=GraphNodeId_UseLong_,Degree_UseShort_
scons gse2_release           cb=1 # --CPPDEFINES=GraphNodeId_UseLong_,Degree_UseShort_
scons poc_gseloader_release  cb=1 # --CPPDEFINES=GraphNodeId_UseLong_,Degree_UseShort_

mkdir -p ${GSQL_PKG_HOME}/bin
cp build/release/customer/core_ext/gpe/poc_gpe_server  ${GSQL_PKG_HOME}/bin
cp build/release/core/gse/ids_worker ${GSQL_PKG_HOME}/bin
cp build/release/customer/core_ext/gse/gse_loader ${GSQL_PKG_HOME}/bin

mkdir -p ${GSQL_PKG_HOME}/third-party-pkgs
src/er/buildenv/rest_build.sh ${GSQL_PKG_HOME}/third-party-pkgs
cp -rf src/er/platform_independent/zookeeper-*.tar.gz ${GSQL_PKG_HOME}/third-party-pkgs
cp -rf src/er/platform_independent/kafka_*.tar.gz ${GSQL_PKG_HOME}/third-party-pkgs

