#######################################################
# First column:                                       #
#     + : this repo can be pushed                     #
#     - : this repo cannot be pushed                  #
#     x : this is the current repo.                   #
# Other symbols:                                      #
#     * :  dont't care as it's determined by others   #
# latest:  latest version in this branch              #
# Notes:                                              #
# 1. build column is for future feature               #
#######################################################
# directory         repo_name    branch  TAG         build
- src/olgp      olgp        4.2 latest    src
- src/core/topology  topology    4.2 latest    src
- src/core/gpe       gpe         4.2 latest    src
- src/core/gse       gse         4.2 latest    src
- src/third_party    third_party master latest    src
- src/utility        utility     4.2 latest    src
- src/realtime       realtime    4.2 latest    src
- src/msg            msg_layer   master latest    src
- src/er             er          4.2 latest    src
