#######################################################
# First column:                                       #
#     + : this repo can be pushed                     #
#     - : this repo cannot be pushed                  #
#     x : this is not a git repo                      #
# Other symbols:                                      #
#     * :  dont't care as it's determined by others   #
# latest:  latest version in this branch              #
# repo_name: when x, this is the sit to fetch libs    #
#                   -- local                          #
#                   -- kent                           #
#                   -- mtv                            #
#                   -- 123.456.123.111                #
# branch:   when x, this is the root dir              #
# TAG   :   when x, this is build version             # 
# build :   when x, this is the fetch cmd             #
# Example:  ------------------------------------------#
#  gsdk   a.b.c.d /ftp/gsql nightly    "./.gdk_fetch" #
#  ===> will fetch                                    #
#   a.b.c.d:/ftp/gsql/redhat6.6/nightly/gsdk/*        #
#     to local gsdk dir                               # 
#######################################################
# directory         repo_name    branch  TAG         build
#- ../src/realtime   realtime    4.3     latest    src
- ../src/er          er         4.3     latest    src
#x gsdk               local      ~      nightly   "./.gdk_fetch"
#x gsdk              kent       /4.3/repos nightly "./.gdk_fetch"
#x gsdk              mtv        /4.3/repos nightly "./.gdk_fetch"
x gsdk              shanghai   /4.3/repos 0.1.4 "./.gdk_fetch"
