<div class="wrapper wrapper-content animated fadeInRight" data-ng-init="init_save()">
  <form name="crowdForm" class="form-horizontal" role="form" data-ng-submit="createCrowd(crowdForm.$valid)" novalidate>
    <fieldset>
        <legend>{{'Crowd_create.BasicInformation' | translate}}</legend>
        <div class="form-group" ng-class="{ 'has-error' : submitted && crowdForm.crowd_name.$invalid }">
            <label mean-token="'create-crowd_name'" class="col-md-2 control-label">{{'Crowd_create.CrowdName' | translate}}</label>
            <div class="col-md-4">
                <input name="crowd_name" type="text" class="form-control" ng-model="crowdDetail.crowdName"
                       id="crowd_name" placeholder="Crowd Name" ng-pattern="/^\w+$/" required>
                <div ng-show="crowdForm.crowd_name.$invalid" class="help-block">
                    <p ng-show="crowdForm.crowd_name.$error.required" class="text-danger">{{'Warning.CrowdNameNull' | translate}}</p>
                    <p ng-show="!crowdForm.crowd_name.$error.required" class="text-danger">{{'Warning.CrowdNameValid' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : submitted && crowdForm.description.$invalid }">
            <label mean-token="'create-description'" class="col-md-2 control-label">{{'Crowd_create.Description' | translate}}</label>
            <div class="col-md-4">
                <input name="description" type="text" class="form-control" data-ng-model="crowdDetail.description"
                       id="description" placeholder="Description" required>
                <div ng-show="crowdForm.description.$invalid" class="help-block">
                    <p ng-show="crowdForm.description.$error.required" class="text-danger">{{'Warning.DescriptionNull' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label mean-token="'create-type'" class="col-md-2 control-label">{{'Crowd_create.CrowdType' | translate}}</label>
            <div class="col-md-4">
                <select class="form-control" ng-model="crowdDetail.type"
                        ng-options="x as x for x in crowd.type"></select>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <!-- Show -->
        <legend>{{'Crowd_create.CrowdCondition' | translate}}</legend>
        <table class="table table-hover" ng-if="crowdDetail.selector.ontology.length>0 || crowdDetail.selector.behavior.length>0 || crowdDetail.selector.tag.length>0">
            <thead>
            <tr>
                <th>{{'Crowd_create.Index' | translate}}</th>
                <th>{{'Crowd_create.CrowdCondition' | translate}}</th>
                <th>{{'Crowd_create.CrowdAmount' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="condition in crowdDetail.selector.tag">
                <td>{{$index+1}}</td>
                <td>{{condition_type[0].name}}:&nbsp;&nbsp;<b>{{condition.name}} {{condition.operator}} {{condition.factor}}</b></td>
                <td>{{condition.count}}</td>
            </tr>
            <tr data-ng-repeat="condition in crowdDetail.selector.ontology">
                <td>{{$index+1+crowdDetail.selector.tag.length}}</td>
                <td ng-if="condition.operator!='dislike' && condition.operator!='like'">
                    {{condition_type[1].name}}:&nbsp;&nbsp;<b>{{condition.name}}</b>{{'Crowd_create.Of' | translate}}<b>{{condition.factor}}</b>{{'Crowd_create.InterestWeightIs' | translate}} <b>{{condition.operator}} {{condition.weight}}</b>
                </td>
                <td ng-if="condition.operator=='dislike' || condition.operator=='like'">
                    {{condition_type[1].name}}:&nbsp;&nbsp;<b>{{condition.name}}</b>{{'Crowd_create.Of' | translate}}<b>{{condition.factor}}</b>{{'Crowd_create.InterestIs' | translate}} <b>{{condition.operator}}</b>
                </td>
                <td>{{condition.count}}</td>
            </tr>
            <tr data-ng-repeat="condition in crowdDetail.selector.behavior">
                <td>{{$index+1+crowdDetail.selector.tag.length+crowdDetail.selector.ontology.length}}</td>
                <td>
                    {{condition_type[2].name}}:&nbsp;&nbsp;<b>{{condition.action}}</b>&nbsp;<b>{{condition.objectCategory}}</b>
                    <nobr ng-if="condition.objectType=='Category'">&nbsp;&nbsp;
                    {{'Crowd_create.In' | translate}}
                    <b>{{condition.ontologyType}}/{{condition.objectId}}</b>
                    {{'Crowd_create.Folder' | translate}}
                    </nobr>
                    <nobr ng-if="condition.objectType=='Contains'">&nbsp;&nbsp;
                    {{'Crowd_create.ContainsCharacters' | translate}}
                    <b>{{condition.ontologyType}}/{{condition.objectId}}</b></nobr>
                    <nobr ng-if="condition.objectType=='Item'">&nbsp;&nbsp;
                    {{'Crowd_create.Item' | translate}}
                    <b>{{condition.objectId}}</b></nobr>
                    &nbsp;&nbsp;
                    {{'Crowd_create.Frequency' | translate}}
                    <b>{{condition.operator}} {{condition.value}}</b>
                    <nobr ng-if="condition.timeType=='absolute'">&nbsp;&nbsp;
                    {{'Crowd_create.DateBetween' | translate}}
                    <b>{{condition.startTime | date:'shortDate'}}</b>
                    {{'Crowd_create.To' | translate}}
                    <b>{{condition.endTime | date:'shortDate'}}</b>
                    {{Crowd_create.zh_Range | translate}}
                    </nobr>
                    <nobr ng-if="condition.timeType=='day'">&nbsp;&nbsp;
                    {{'Crowd_create.InThePassed' | translate}}
                    <b>{{condition.startTime/86400000}}</b>
                    {{'Crowd_create.Days' | translate}}
                    {{Crowd_create.zh_Range | translate}}
                    </nobr>
                    <nobr ng-if="condition.timeType=='hour'">&nbsp;&nbsp;
                    {{'Crowd_create.InThePassed' | translate}}
                    <b>{{condition.startTime/3600000}}</b>
                    {{'Crowd_create.Hours' | translate}}
                    {{Crowd_create.zh_Range | translate}}
                    </nobr>
                </td>
                <td>{{condition.count}}</td>
            </tr>
            </tbody>
        </table>


        <div class="col-md-offset-8 col-md-3">
        <h4>
            {{'Crowd_create.QueryMatchAmount' | translate}}
            <span ng-if="crowdDetail.count >= 0">{{crowdDetail.count}}</span>
            {{'Crowd_create.zh_People' | translate}}
        </h4></div>
    </fieldset>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-3">
            <button mean-token="'create-save'" type="submit" ng-disabled="crowdForm.$invalid" class="btn btn-success btn-block">{{'Crowd_create.SaveCrowd' | translate}}</button>
        </div>
    </div>
  </form>
</div>
